/* define variable */
:root {
    --red2: #C50502;
    --blue2: #15184D;
}

.sqbtn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    padding: 15px 40px; /* Adjust padding as needed */
    transition: all 0.3s ease; /* Smooth transition */
    text-decoration: none;
    font-weight: 300;
}

.donh {
    position: relative;
}


.sqbtn:hover {
    background-color: black;
    color: white;
}

/* layout.app */



.stickysec {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}
/* part 0.5 */
.part0_5{
    min-height: 1000px;
}

.welcomepartbackground{
    background-color: #206aae;
}

.mmtitle{
    /* Apply a linear gradient as the background */
    background: linear-gradient(45deg, #2023AE,#f7f7f7);

    /* Use WebKit background clip property to clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text color transparent to reveal the background gradient */
    color: transparent;

    /* You can also add other styles as needed */
    font-weight: bold; /* For instance, make the text bold */
    font-size: 5rem; /* Adjust the font size as desired */
}

.tryfeaturebutton{
    background-color: #2023ae;
    border: 1px solid #2023ae;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Optional: add a slight movement */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.sequence1, .sequence2, .sequence3, .sequence4 {
    opacity: 0;
}

.sequence1 {
    animation: fadeIn 1s forwards;
    animation-delay: 0s;
}

.sequence2 {
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.sequence3 {
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}

.sequence4 {
    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

/* part1 */
.part1{
    min-height: 800px;
    background-color:#206AAE;
}

.bg-menu{
    background-color: #206aae;
    background-size: cover; 
    min-height: 100vh; 
    min-width: 100%;
}


.bga{
    background: linear-gradient(to bottom, #8C314A  ,#3B295E,#242763);
}

.logincard-body{
    background-color: #242763;
    color: #FFFFFF; 
    border: none; 
}

.logincard-top{
    background-color: #14163C;
    color: #FFFFFF;
    border-bottom: none; 
}
/* .part1_1{
    transition: transform 0.3s ease;
}
.part1_1:hover{
    transform: scale(1.05);
}

.underable:hover{
    text-decoration: none;
} */

.feature-card1{
    background-color: #1A1C8B;
}

.feature-card2{
    background-color: #262AD1;

}

.feature-card3{
    background-color: #242763;
}
.mm{

    /* Apply a linear gradient as the background */
    background: linear-gradient(45deg, #8B8CD6,#CD2623,#EC9F9E);

    /* Use WebKit background clip property to clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text color transparent to reveal the background gradient */
    color: transparent;

    /* You can also add other styles as needed */
    font-weight: bold; /* For instance, make the text bold */
    font-size: 2rem; /* Adjust the font size as desired */
}

.sequencepart1_1, .sequencepart1_2{
    opacity: 0;
}

.sequencepart1_1{
    animation: fadeIn 1s forwards;
    animation-delay: 0s;
}

.sequencepart1_2{
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.subbutton{
    background-color: var(--blue2);
    transition: background-color 0.3s;
}

.newscard{
    font-weight: 300;
}


.subbutton:hover{
    background-color: var(--red2);
}


.card-text-color{
    color: var(--blue2);
}

.our-feature{
    font-size:4rem;
}

/* part2 */
.part2{
    min-height:800px;
    background-color:#242763;
}
.part2_1{
    font-size:60px
}

.part2_2{
    margin-top: 200px;
}

/* part3 */
.part3{
    min-height: 850px;
    /* z-index: 1; */
    transition: top 0.3s ease;
    background: linear-gradient(to top, #4a90e2  ,#00bcd4,#242763);
}

.motto{
    font-size: 5.8vw;
    font-weight: 900;
}




/* donation card */
@keyframes Zoom {
    from {
        transform: scale(1.0);
        z-index: 0;
    }
    to {
        transform: scale(1.2);
        z-index: 1;
    }

}

@keyframes Minimize {
    from {
        transform: scale(1.0);
        z-index: 0;
    }
    to {
        transform: scale(0.85);
        z-index: 1;
    }

}



.donationcard{
    background-color: #4a90e2;
    min-height: 900px;
}


.donalign {
    font-weight: 700;
    font-size: 32pt;
    color: white;
}

.donlist {
    font-weight: 500;
}

.dono1{
    color:white;
}
.dono2{
    color:white;
}

.card{
    height:250px;
    border-radius: 12px;
}

.donlistia {
    list-style: none;
}

.donlistia:before {
    content: "+";
    margin-right: 4px;
}

.donatecard:not(.no-hover):hover {
   animation:Minimize 0.3s forwards /* Example hover effect: scaling down */
}

.selected {
    /* Your custom styling here */
    animation: Zoom 0.3s forwards;
}

.card1{
    background-color: #00008B;
}
.card2{
    background-color: #000066;
}
.card3{
    background-color: #00004e;
}
.card4{
    background-color: #000038;
}
.purchasebutton{
    background-color: #b71c1c;
}
