/* define variable */
:root {
    --red2: #C50502;
    --blue2: #15184D;
}

.sqbtn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    padding: 15px 40px; /* Adjust padding as needed */
    transition: all 0.3s ease; /* Smooth transition */
    text-decoration: none;
    font-weight: 300;
}

.donh {
    position: relative;
}


.sqbtn:hover {
    background-color: black;
    color: white;
}

/* layout.app */



.stickysec {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}
/* part 0.5 */
.part0_5{
    min-height: 1000px;
}

.welcomepartbackground{
    background: linear-gradient(to top, #8C314A  ,#3B295E,#242763);
}

.mmtitle{
    /* Apply a linear gradient as the background */
    background: linear-gradient(45deg, #8B8CD6,#CD2623,#EC9F9E);

    /* Use WebKit background clip property to clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text color transparent to reveal the background gradient */
    color: transparent;

    /* You can also add other styles as needed */
    font-weight: bold; /* For instance, make the text bold */
    font-size: 5rem; /* Adjust the font size as desired */
}

.tryfeaturebutton{
    background: linear-gradient(90deg, #cf3000,#fb6767,#EC9F9E);
    border: 1px solid #cf3000;
}
/* part1 */
.part1{
    min-height: 800px;
    background: linear-gradient(to bottom, #8C314A  ,#3B295E,#242763);
}

/* .part1_1{
    transition: transform 0.3s ease;
}
.part1_1:hover{
    transform: scale(1.05);
}

.underable:hover{
    text-decoration: none;
} */

.feature-card1{
    background-color: #8C314A;
}

.feature-card2{
    background-color: #3B295E;
}


.feature-card3{
    background-color: #242763;
}
.mm{

    /* Apply a linear gradient as the background */
    background: linear-gradient(45deg, #8B8CD6,#CD2623,#EC9F9E);

    /* Use WebKit background clip property to clip the background to the text */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text color transparent to reveal the background gradient */
    color: transparent;

    /* You can also add other styles as needed */
    font-weight: bold; /* For instance, make the text bold */
    font-size: 2rem; /* Adjust the font size as desired */
}

.subbutton{
    background-color: var(--blue2);
    transition: background-color 0.3s;
}

.newscard{
    font-weight: 300;
}


.subbutton:hover{
    background-color: var(--red2);
}


.card-text-color{
    color: var(--blue2);
}

/* part2 */
.part2{
    min-height:800px;
    background: linear-gradient(to top, #8C314A  ,#3B295E,#242763);
}
.part2_1{
    font-size:60px
}

.part2_2{
    margin-top: 200px;
}

/* part3 */
.part3{
    min-height: 850px;
    /* z-index: 1; */
    transition: top 0.3s ease;
    background: linear-gradient(to top, #8C314A  ,#3B295E,#242763);
}

.motto{
    font-size: 5.8vw;
    font-weight: 900;
}




/* donation card */
@keyframes Zoom {
    from {
        transform: scale(1.0);
        z-index: 0;
    }
    to {
        transform: scale(1.2);
        z-index: 1;
    }

}

@keyframes Minimize {
    from {
        transform: scale(1.0);
        z-index: 0;
    }
    to {
        transform: scale(0.85);
        z-index: 1;
    }

}



.donationcard{
    background: linear-gradient(to bottom, #8C314A  ,#3B295E,#242763);
    min-height: 900px;
}


.donalign {
    font-weight: 700;
    font-size: 32pt;
    color: white;
}

.donlist {
    font-weight: 500;
}

.dono1{
    color:white;
}
.dono2{
    color:white;
}

.card{
    height:250px;
    border-radius: 12px;
}

.donlistia {
    list-style: none;
}

.donlistia:before {
    content: "+";
    margin-right: 4px;
}

.donatecard:not(.no-hover):hover {
   animation:Minimize 0.3s forwards /* Example hover effect: scaling down */
}

.selected {
    /* Your custom styling here */
    animation: Zoom 0.3s forwards;
}

.card1{
    background-color: #00008B;
}
.card2{
    background-color: #000066;
}
.card3{
    background-color: #00004e;
}
.card4{
    background-color: #000038;
}
