@keyframes Zoom {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.1);
    }

}

.card:hover{
    animation: Zoom 0.3s forwards;
}

body{
    background-color: #206aae;
}

.card{
    background-color: #2f8de5;
    color: #f2f2f2
}
