.text-truncate {
    max-width: 200px;
}

.custom-card{
    background-color:#15184D
}


.form-group, .card-header{
    color: white;
}

.bg {
    background-size: cover; 
    min-height: 100vh; 
    min-width: 100%;
}